@font-face {
    font-family: Heebo;
    font-style: normal;
    font-weight: 400;
    src: url('@assets/typefaces/Heebo-Regular.woff2') format("woff2")
}

@font-face {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    src: url('@assets/typefaces/Heebo-Medium.woff2') format("woff2")
}

@font-face {
    font-family: Heebo;
    font-style: normal;
    font-weight: 700;
    src: url('@assets/typefaces/Heebo-Bold.woff2') format("woff2")
}

@font-face {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    src: url('@assets/typefaces/Heebo-ExtraBold.woff2') format("woff2")
}

@font-face {
    font-family: 'Special Gothic Condensed One';
    src: url('@assets/typefaces/SpecialGothicCondensedOne-Regular.ttf') format('truetype');
}

:root {
    --yellow1: hsl(194, 100%, 57%);
    /* #ffc426 */
    --yellow2: hsl(192, 99%, 56%);
    /* #feb91e */
    --yellow3: hsl(196, 100%, 72%);
    /* #ffdc6e */
    --yellow4: hsl(192, 99%, 69%);
    /* #fece61 */
}

* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: calc(70px + 40px);
    color-scheme: dark;

    &:has(.fake-fullscreen) {
        overflow: hidden;
    }
}

body {
    margin: 0;
    font-family: Heebo, arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #111316;
}

main {
    min-height: calc(100vh - 300px);
}

h1:not(:empty),
h2:not(:empty),
h3:not(:empty),
h4:not(:empty),
h5:not(:empty),
h6:not(:empty) {
    color: currentColor;
    font-family: Heebo, arial;
    font-weight: 800;
}

section {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

section.gray {
    background-color: #f7f7f7;
    color: #000000;
    color-scheme: light;
}

section>.section-content {
    width: 100%;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;

    &.flex {
        gap: 32px;
    }
}

@media (width >=700px) {
    section {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (width >=1080px) {
    section {
        padding-left: 32px;
        padding-right: 32px;
    }

    section>.section-content {
        max-width: 1384px;
    }
}

@media (width >=1512px) {
    section {
        padding-left: 64px;
        padding-right: 64px;
    }

    section>.section-content {
        max-width: 1920px;
    }
}

:not(.flex)>section+section {
    padding-top: 0;
}

.small {
    font-size: 0.85714em;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.translucent {
    opacity: .5;
}

.colour {
    color: var(--yellow1);
}

em.label {
    color: var(--yellow2);
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1.25rem;
    letter-spacing: .0625rem;
    font-weight: 700;
    margin-bottom: .5rem;
    font-style: normal;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.flex {
    display: flex;
    gap: 16px;

    &.stretch {
        align-items: stretch;
    }
}

.check {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 3px;
    background-color: currentColor;
    transform-origin: bottom left;
    clip-path: polygon(16% 46%, 0 62%, 39% 100%, 100% 20%, 83% 6%, 38% 65%);
}

.check.empty {
    opacity: 0;
}

.label {
    display: block;
    font-weight: 700;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 6px;
    text-wrap: nowrap;
}

.scrollable-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    overflow-y: auto;
    max-height: 500px;
    border-radius: 5px;
    border: 1px solid #ffffff14;

    &>* {
        padding: 8px 12px;
        border-bottom: 1px solid #ffffff14;
    }

    &>*:last-child {
        border-bottom: none;
    }

    &>* .delete {
        color: #ff6b6b;
        cursor: pointer;
    }
}

.side-panel fieldset {
    border: none;
    border-top: 1px solid #4a4b4d;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 8px;
    padding: 8px 0 0;

    &>* {
        margin-bottom: 16px;
    }

    &>legend {
        font-weight: bold;
        margin-left: -8px;
        margin-bottom: 0;
        padding: 0 8px;
    }
}

.side-panel>fieldset:first-of-type {
    margin-top: -11px;
}

*[disabled]:not([disabled=false]) {
    opacity: 0.5;
    pointer-events: none;
}

.block {
    padding: 16px 20px;
    border-radius: 5px;
    background-color: #1b1d23;
    background-image: radial-gradient(90% 90% at 0% 100%, #ffffff1a 0%, transparent 100%);
    background-repeat: no-repeat;
    background-size: 340px 100%;
    color: #ffffffcc;

    &.blur {
        background-color: #ffffff1a;
        background-image: none;
        backdrop-filter: blur(16px);
        box-shadow: 0 0 0 1px #fff3;
    }
}

.dropzone {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000000c3;
    text-shadow: 0px 0px 8px #000;
}

.snackbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 32px auto;
    width: fit-content;
    padding: 2px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 1;

    &.warning {
        background-color: #d53232;
    }

    &>h3 {
        margin-bottom: 0;
    }

    &>p {
        margin-top: 4px;
    }
}

.v-leave-active {
    transition: opacity 200ms ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.list-move,
.list-enter-active,
.list-leave-active {
    transition: all 200ms ease;
}

.list-enter-from {
    opacity: 0;
    transform: translateY(-20px);
}

.list-leave-to {
    opacity: 0;
}

.list-leave-active {
    position: absolute;
}