@font-face {
    font-family: Heebo;
    font-style: normal;
    font-weight: 400;
    src: url('./Heebo-Regular.woff2') format("woff2")
}

@font-face {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    src: url('./Heebo-Medium.woff2') format("woff2")
}

@font-face {
    font-family: Heebo;
    font-style: normal;
    font-weight: 700;
    src: url('./Heebo-Bold.woff2') format("woff2")
}

@font-face {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    src: url('./Heebo-ExtraBold.woff2') format("woff2")
}

@font-face {
    font-family: 'Trade Gothic Bold Condensed 20';
    src: url('./TradeGothicLTPro-BdCn20.woff') format('woff'),
        url('./TradeGothicLTPro-BdCn20.woff2') format('woff2');
}

* {
    box-sizing: border-box;
    /* color-scheme: dark; */
}

html {
    scroll-padding-top: calc(70px + 40px);

    &:has(.fake-fullscreen) {
        overflow: hidden;
    }
}

body {
    margin: 0;
    font-family: Heebo, arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #090a0b;
}

main {
    min-height: calc(100vh - 300px);
}

h1:not(:empty),
h2:not(:empty),
h3:not(:empty),
h4:not(:empty),
h5:not(:empty),
h6:not(:empty) {
    color: currentColor;
    font-family: Heebo, arial;
    font-weight: 800;
}

section {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (width >=700px) {
    section {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (width >=1080px) {
    section {
        max-width: 1384px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (width >=1512px) {
    section {
        max-width: 1920px;
        padding-left: 64px;
        padding-right: 64px;
    }
}

:not(.flex)>section+section {
    padding-top: 0;
}

.small {
    font-size: 0.85714em;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.translucent {
    opacity: .5;
}

.colour {
    color: #ffc426;
}

em.label {
    color: #feb91e;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1.25rem;
    letter-spacing: .0625rem;
    font-weight: 700;
    margin-bottom: .5rem;
    font-style: normal;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.flex {
    display: flex;
    gap: 16px;

    &.stretch {
        align-items: stretch;
    }
}

.check {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 3px;
    background-color: currentColor;
    transform-origin: bottom left;
    clip-path: polygon(16% 46%, 0 62%, 39% 100%, 100% 20%, 83% 6%, 38% 65%);
}

.check.empty {
    opacity: 0;
}

.side-panel fieldset {
    border: 1px solid #4a4b4d;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
    padding: 8px 12px 12px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-panel>fieldset:first-of-type {
    margin-top: -11px;
}

.side-panel fieldset+fieldset {
    margin-top: 8px;
}

.side-panel fieldset>legend {
    font-weight: bold;
    margin-left: -2px;
}

.side-panel .tab-content>div>.input {
    margin-left: 12px;
    margin-right: 12px;
}

*[disabled]:not([disabled=false]) {
    opacity: 0.5;
    pointer-events: none;
}

.block {
    padding: 16px 20px;
    border-radius: 5px;
    background-color: #1b1d23;
    background-image: radial-gradient(90% 90% at 0% 100%, #ffffff1a 0%, transparent 100%);
    background-repeat: no-repeat;
    background-size: 340px 100%;
    color: #ffffffcc;

    &.blur {
        background-color: #ffffff1a;
        background-image: none;
        backdrop-filter: blur(16px);
        box-shadow: 0 0 0 1px #fff3;
    }
}

.dropzone {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000000c3;
    text-shadow: 0px 0px 8px #000;
}

.v-leave-active {
    transition: opacity 200ms ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.list-move,
.list-enter-active,
.list-leave-active {
    transition: all 200ms ease;
}

.list-enter-from {
    opacity: 0;
    transform: translateY(-20px);
}

.list-leave-to {
    opacity: 0;
}

.list-leave-active {
    position: absolute;
}

@media (prefers-reduced-motion: reduce) {

    .v-leave-active,
    .list-move,
    .list-enter-active,
    .list-leave-active {
        transition: none;
    }
}